@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 10px;
  font-family: 'Geologica', sans-serif;
  font-style: normal;
  line-height: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
}

:root{
  --green-color: #14FF00;
  --orange-color: #FF5900;
  --bg-color: #151718;
  --darkGrey-color: #151718;
  --lightGrey-color: #1F1F21;
  --btnHover-color: #272728;
  --white-color: #FFFFFF;
  --black-color: #000000;
}

button{
  outline: 0;
  border: 0;
  background: 0;

  cursor: pointer;
}

/* normalize */

#ordinary--button{
  width: fit-content;
  height: 4.8rem;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.8rem;
  background: var(--darkGrey-color);
  outline: 0.3rem solid var(--orange-color);
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;
}

#ordinary--button button{
  width: fit-content;
    height: 4.2rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    border-radius: 0.6rem;
    background: var(--white-color);
    color: var(--darkGrey-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    transition: all 0.03s ease-in-out;
    transform: translateY(-0.3rem);
}

#ordinary--button button Link{
    color: var(--darkGrey-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
}


#ordinary--button button:hover{
  transform: translateY(-0.5rem);
}


#ordinary--button button:active{
  transform: translateY(-0.1rem);
}

a{
  text-decoration: 0;
}

input{
  outline: 0;
  border: 0;
  background: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* element container */

.element-container--metadata{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.element-container--metadata aside{
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.element-container--metadata aside p{
  opacity: 0.8;
  font-size: 1.2rem;
}

.element-container{
  cursor: pointer;
}



::-webkit-scrollbar {
  width: 0;
  height: 0;
}