.ElementsPage--wrapper{
    display: flex;
    justify-content: center;
    width: 100%;

    padding-top: 1.6rem;
}

.ELementsPage-content--wrapper{
    max-width: 120rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8rem;
}

/* ELEMENTS BLOCK */

.elements-block--wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.allElements-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6rem;
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr); */
}

.element--block{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.elements-block--navbar{
    width: 100%;
    height: 4.2rem;
    border-radius: 0.8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.elements-block--navbar_buttons{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.elements-block--navbar_button{
    width: fit-content;
    height: 4.2rem;
}

.elements-block--navbar_button button{
    width: fit-content;
    height: 4.2rem;
    border-radius: 0.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--white-color);
    background: var(--lightGrey-color);
    transition: all 0.1s ease-in-out;
    box-sizing: border-box;
}

.elements-block--navbar_button button:hover{
    background: var(--btnHover-color);
    border: 3px solid var(--orange-color);
}

.AllElements--dropdown button{
    width: fit-content;
    height: 4.2rem;
    border-radius: 0.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--white-color);
    background: var(--lightGrey-color);
}


/* FOR ELEMENT BY ID PAGE */

.elementByID-wrapper{
    width: 120rem;
}

.elementById-block{
    width: 49.2rem;
    height: 53.8rem;
}

.elementByID-code{ 
    width: 49.2rem;
    height: 53.8rem;
    border-radius: 0.8rem;
    background: var(--lightGrey-color);
}

.elementById-search{
    width: 36rem;
    height: 4.2rem;

    color: var(--white-color);
    outline: 0;
}

.elementById-search input{
    color: var(--white-color);
    background: var(--lightGrey-color);
}

.elementById-search input::placeholder{
    color: var(--white-color);
}

.elementById-search--button button{
    color: var(--white-color);
}

.element-info--wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.element-info--wrapper--buttons{
    display: flex;
    align-items: center;
   
}

.info-info{
    display: flex;
    gap: 1.6rem;
}

h2{
    font-size: 1.6rem;
    color: var(--white-color);
}

/* SIDEBAR FOR PAGES */

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.sidebar-logo{
    width: 18rem;
    height: 9.6rem;
    border-radius: 0.8rem;

    background: var(--lightGrey-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-logo img{
    width: auto;
    height: 4.8rem;
}

.sidebar--navigation{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.sidebar-link{
    width: 18rem;
    height: 4.2rem;
    border-radius: 0.8rem;

    background: var(--lightGrey-color);

    display: flex;
    align-items: center;
    cursor: pointer;

    transition: all 0.1s ease-in-out;
}

.sidebar-link:hover{
    background: var(--btnHover-color);
    scale: 1.1;
}

.sidebar-link button{
    width: 18rem;
    height: 4.2rem;
    padding-left: 1.6rem;

    font-size: 1.6rem;
    font-weight: 900;
    text-align: left;
    color: var(--white-color);
}